@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 10px
}

.result-container {
  display: flex;
  flex-direction: column;
}

.succes-img {
  margin-bottom: 10px;
  width: 500px;
  height: 280px;
}

.banner {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.result-text {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}